## assgn : Age_category

In [5]:
# SparkSession 설정
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('udf').getOrCreate()

In [18]:
# 샘플 데이터: 이름 및 나이
Age_category = [
    ('김', 25),
    ('이', 40),
    ('박', 35),
    ('최', 65),
    ('조', 20),
    ('권', 50),
    ('정', 38)
]

In [19]:
# 스키마 정의
schema = ['name', 'age']

In [21]:
# 데이터프레임 생성
df = spark.createDataFrame(data = Age_category, schema = schema)

In [22]:
# 데이터프레임 출력
df.show()

+----+---+
|name|age|
+----+---+
|  김| 25|
|  이| 40|
|  박| 35|
|  최| 65|
|  조| 20|
|  권| 50|
|  정| 38|
+----+---+

In [23]:
# 데이터프레임 스키마 출력
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [25]:
# Temporary View 생성
df.createOrReplaceTempView('Age_category')

In [34]:
# UDF : 나이 별 분류 함수
def age_category(age) :
    if age < 35 :
        return 'young'
    elif 35 <= age <= 59 :
        return 'adult'
    elif age >= 60 :
        return 'senior'

In [35]:
# UDF 등록
spark.udf.register('age_category', age_category)

In [40]:
# SQL문 처리
spark.sql(
    "SELECT name, age_category(age) AS age_category FROM Age_category").show()

+----+------------+
|name|age_category|
+----+------------+
|  김|       young|
|  이|       adult|
|  박|       adult|
|  최|      senior|
|  조|       young|
|  권|       adult|
|  정|       adult|
+----+------------+